 /*-------------HEADER---------*/
       
    
    /*---------NAVIGATION--------*/
        
        
    /*----------MAIN--------*/
   
    .reservation {
        text-align: center;
        background-color: #F4E04D;
        border: none;
        border-radius: .5em;
        padding: 1em;
        width: 200px;
        margin: auto;
        font-size: large;
        margin-top: 20px;
    }

    .indexbutton {
        background-color: #F4E04D;
        border: none;
    }
    
    #currentweather{
        display: block;
        padding: 1rem;
        margin: 2rem;
        border:solid .3rem #0E7C7B;
        border-radius: .5rem;
    }
    
    #currentweather h2 {
        text-align: center;
    }
    #threeday{
        display: block;
        padding: 1rem;
        margin: 2rem;
        border:solid .3rem #0E7C7B;
        border-radius: .5rem;
    }
    
    #threeday h2 {
        text-align: center;
    }
    
    #rentals {
        display: block;
        padding: 1rem;
        margin: 2rem;
        border:solid .3rem #0E7C7B;
        border-radius: .5rem;
    }
    #rentals li {
        list-style: none;
    }
    #rentals h2 {
        text-align: center;
    }

    #scooterbeach {
        width: 400px;
        margin: auto;
        
    }

    /*------------Forecast Styling-----------*/

.threedayforecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
}

#dayofweek1 {
    display: block;
    background-color:#587792;
    padding: 8px;
    text-align: center;
    color: white;
}

#forecast1 {
    display: block;
}


#dayofweek2 {
    display: block;
    background-color:#587792;
    padding: 8px;
    text-align: center;
    color: white;
}
#forecast2 {
    display: block;
}
#dayofweek3 {
    display: block;
    background-color:#587792;
    padding: 8px;
    text-align: center;
    color: white;
}
#forecast3 {
    display: block;

}



        /*--------FOOTER--------*/
     



/*-------------------MEDIUM SIZE---------*/

@media only screen and (min-width: 768px) {

    
   
    /*-------------HEADER---------*/
       
    
    /*---------NAVIGATION--------*/
        
        
    /*----------MAIN--------*/
    #currentweather{
        display: inline-block;
        padding: 1rem;
        border:solid .3rem #0E7C7B;
        border-radius: .5rem;
        width: 300px;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }

    #threeday{
        display: inline-block;
        padding: 1rem;
        border:solid .3rem #0E7C7B;
        border-radius: .5rem;
        width: 300px;
        margin: auto;
        margin-left: 30px;
    }
    
        /*--------FOOTER--------*/
    
        
    /*---------------LARGE SIZE--------------*/

    @media only screen and (min-width: 993px) {
        /*---------HEADER-------*/
        
           
        /*--------NAVIGATION------*/
       
            
        /*---------MAIN--------*/
           

            
            /*-----------FOOTER--------*/
            