/* CSS files add styling rules to your content */


body {
    font-family: 'Merriweather', serif;
    max-width: 900px;
    margin: 1em auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #AF125A;
    font-size: 1em;
    text-align: center;
}

header, footer {
    background-color: #D1A7A0;
    padding: 1em;
    text-align: center;
    color: #AF125A;
}

header img {
    max-width: 200px;
    box-shadow: 6px 6px 4px 1px #444;;
}

main {
    margin: 3em 1em 3em 1em;
}

main h2 {
    font-size: 1em;
    margin-bottom: 0; 
}

footer p {
    margin-bottom: 0.25em;
}
footer a {
    color: #AF125A;
}
